* {
  margin: 0px;
  padding: 0px;
}

.background {
  background: url('./imgs/long_road_by_casey_horner.jpg');
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -2;
}

/* Brightness filters */
.lightning {
  background: url('./imgs/long_road_by_casey_horner.jpg');
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  -moz-filter: brightness(3);
  -o-filter: brightness(3);
  filter: brightness(3);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Opacity  */
.flash {
  -webkit-animation: flash ease-out 7s infinite;
  -moz-animation: flash ease-out 7s infinite;
  -o-animation: flash ease-out 7s infinite;
  animation: flash ease-out 7s infinite;
  animation-delay: 2s;
}

@-webkit-keyframes flash {
  0% { opacity: 0; }
  92% { opacity: 0.1; }
  93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 0.9; }
  100% { opacity: 0; }
}

@keyframes flash {
  0% { opacity: 0; }
  92% { opacity: 0.1; }
  93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 0.9; }
  100% { opacity: 0; }
}

/* Font-size grow  */
.text-grow {
  -webkit-animation: grow ease-out 7s infinite;
  -moz-animation: grow ease-out 7s infinite;
  -o-animation: grow ease-out 7s infinite;
  animation: grow ease-out 7s infinite;
}

@-webkit-keyframes grow {
  0% { font-size: 1rem; }
  20% { font-size: 1.5rem; }
  40% { font-size: 2rem; }
  60% { font-size: 2.5rem; }
  80% { font-size: 2em; }
  90% { font-size: 1.5rem; }
  100% { font-size: 1rem; }
}

@keyframes grow {
  0% { font-size: 1rem; }
  20% { font-size: 1.5rem; }
  40% { font-size: 2rem; }
  60% { font-size: 2.5rem; }
  80% { font-size: 2em; }
  90% { font-size: 1.5rem; }
  100% { font-size: 1rem; }
}

.logo {
  color: #FFF;
  font-size: 24px;
  position: fixed;
  top: 50%;
  text-align: center;
  width: 100%;
  z-index: 100;
}
