* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main-content {
  background-color: #2F2F2F;
  padding: 24px;
  width: 100%;
}

h1 {
  text-align: center;
}

.creditcard {
  display: inline-block;
  border: 2px solid #F3F9D2;
  padding: 16px;
}

.icon-container {
  text-align: center;
}

.fontAwesomeIcons {
  color: white;
  padding: 0px 4px;
}

.form-content {
  margin-top: 12px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

input[type="tel"], input[type="text"] {
  background-color: #2F2F2F;
  color: #F3F9D2;
  display: block;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  padding: 4px;
}

input[name="Exp"]{
  width: 64px;
}

input[name="CCV"] {
  width: 40px;
}

input {
  border: 2px solid red;
}

h1, label {
  color: #F3F9D2;
  letter-spacing: 2px;
}

label {
  border-top: 2px solid #BDC4A7;
  display: inline-block;
  font-size: 20px;
  margin-top: 4px;
  padding: 4px 0px 4px 0px;
  text-align: left;
  width: 100%;
}
