* {
    margin: 0px;
    padding: 0px;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

.main {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
}

.main-content {
  background-color: #2F2F2F;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 50%;
}

.main-content h1 {
  text-align: center;
}

.form-group:nth-of-type(1), .form-group:nth-of-type(3) {
  width: 30%;
  margin: 0 auto;
  padding-top: 16px;
}

.form-group:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 0 auto;
  padding-top: 16px;
}

input[type="tel"], input[type="text"] {
  background-color: #2F2F2F;
  border: none;
  color: #F3F9D2;
  display: block;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  padding: 4px;
}

input[name="Exp"] {
  width: 64px;
}

input[name="CCV"] {
  width: 44px;
}

h1, label {
  color: #F3F9D2;
  letter-spacing: 2px;
}

label {
  border-top: 2px solid #BDC4A7;
  display: inline-block;
  font-size: 20px;
  margin-top: 4px;
  padding: 4px 0px 4px 0px;
  text-align: left;
  width: 100%;
}