* {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validated-input:valid {
  outline: 1px solid green;
}

input:invalid:focus {
  outline: 1px solid #f00;
}